//animation cartes qui glissent de gauche à droite
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$light-purple:#9356DC;
$pink:#FF79DA;
$linear-gradient: linear-gradient(to bottom right, $pink,$light-purple);
$green:#008766;
$light-green:#99E2D0;
$light-grey:#F6F6F6;
$grey:#EAEAEA;
$dark-grey:#353535;
$light-shadow:0 4px 10px rgba(0, 0, 0, 0.25);
$shadow:0 4px 15px rgba(0, 0, 0, 0.15);
$header-short-shadow:0 2px 4px rgba(0, 0, 0, 0.15);
$header-dark-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
$card-shadow:0 4px 15px rgba(0, 0, 0, 0.10);

@mixin order-explore-btn{
    height: 50px;
    background: $linear-gradient;
    color: #F6F6F6;
    border-radius: 25px;
    border: none;
    box-shadow: $light-shadow;
}
@mixin restaurant-card-global-values{
    height: 241px;
    border-radius: 15px;
    box-shadow: $card-shadow;
}
@mixin dishes-card-global-values{
    height: 69px;
    border-radius: 15px;
    box-shadow: $card-shadow;
    gap: 5px;
    background: #F6F6F6;
}


body{
    font-family: Roboto;
    width: 375px;
    margin: 0 auto;
    margin-top: 200px;
}

    .restaurant-total-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1055px;
        width: 100%;
        padding: 0 13px 0 13px;
        background: rgba(128, 128, 128, 0.121);
        overflow: hidden;
        .total-menu{
            max-width: 634px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            .order-btn-menu{
                @include order-explore-btn;
                width: 186px;
                margin: 30px 0 40px 0;
                transition: opacity 350ms ease-in;
                    &:hover{
                        opacity: 0.8;
                    }   
                }
        }
        .menu__title{
            height: 27px;
            margin: 40px 0 0 20px;
            align-self: flex-start;
        }
        .menu__title::after{
            content:"";
            display: block;
            height: 2px;
            width: 40px;
            background: $light-green;
        }
    }

//Cards-menu
.card-menu{
    width: 349px;
    height: 72px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding-right: 0px;
    opacity: 0;
    transition: padding-right 400ms ease-in-out;
    gap: 15px;
    &__content{
        margin-left: 12px;
        min-width: 0;
        p, h3{
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__price{
        display: flex;
        position: relative;
        margin: 0 12px 12px 0;
        top: 15px;
        font-size: 15px;
        transition: transform 400ms ease-in-out;
        }
    &__btn{
        width: 59px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        background: $light-green;
        border-radius: 0 15px 15px 0;
        border: none;
        transition: transform 400ms ease-in-out;
        .fa-circle-check{
            color: white;
        }
    }
    &:hover{
        padding-right: 59px;
        .card-menu__btn{    
            transform: translateX(-59px);
        }    
    } 
    animation: slide 500ms forwards cubic-bezier(.71,.35,.68,.56);
        
}
@keyframes slide {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.anim-card-1{
    animation-delay: 100ms;
}
.anim-card-2{
    animation-delay: 250ms;
}
.anim-card-3{
    animation-delay: 400ms;    
}